/* Primary colors */
$light-green: #3FDD4D;
$dark-green: #68E598;
$light-blue: #8093F1;
$dark-blue: #595E87;
$grey: #F4F4ED;
$dark: #010A15;
$star-color: #ffd203;


/* Sizes */
$header-height: 55px;
$footer-height: 120px;
$footer-height-small: 80px;
$sm-min: 768px;
$img-size: 104px;


/* navbar colors */
$bgDefault      : #595e87;
$bgHighlight    : #8093f1;
$colDefault     : #f4f4ed;
$colHighlight   : #ffffff;
$dropDown       : false;

$result-list-max-height: 500px;
$result-list-width: 400px;
$result-list-margin: 10px;
