/* General stuff */
body, html, #content {
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}

.error {
	i {
		font-size: 2em; 
	}
	.quote {
		font-style: italic
	}
}

.ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
}

.ui-notification:hover {
	opacity: 0.9;
}

a[ng-click] {
	cursor: pointer;
}

.center-vertical {
	position: absolute;
	top: 50%;
	@include transform(translatey(-50%));
} 