/* Login Modal */
.login-modal {
	margin-bottom: 0;	

	p {
		color:#CCC;
	}

	.spacing {
		padding-top:7px;
		padding-bottom:7px;
	}

	.border {
		border-left:1px solid #ccc;
		height:160px;
	}

	.social .btn {
		width: 100%;
		margin-top: 10px;
	}

} 
/* END Login Modal */